# Required for building
/.cache
/build
/dist
/htmlcov/*
*.coverage
*.egg-info
*.eggs
*.pyc

# Building doc
/doc/*.aux
/doc/*.dvi
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.synctex.gz
/doc/*.tex
/doc/*.toc

# Required for testing
tmp/
*.bai
/*.txt
test.out
truncated.*

# Other / analysis
/data
/samples
.Rhistory
*.png
/*.R
/*.svg

# Development / OS
/data*/*.swp
*.swp
.venv
.directory
/previous_R_data
*.backup
