# Required for building
/.cache
/build
/dist
/htmlcov/*
*.coverage
*.egg-info
*.eggs
*.pyc

# Building doc
/doc/*
/doc

# Required for testing
tmp/
*.bai
*.fai
/*.txt
test.out
truncated.*

# Other / analysis
/data
/samples
.Rhistory
*.png
/*.R
/*.svg

# Development / OS
/data*/*.swp
*.swp
.venv
.directory
/previous_R_data
*.backup
.~lock.*
